<?xml version="1.0" encoding="utf-8" ?>
<!-- 
		.NET application configuration file     
		This file is used for configuring the DMCC .NET logging capabilities.
    It MUST have the name DMCC.config and reside in the same folder as your application.
	-->
<!-- You should NOT change the following unless you really know what you are doing.
To turn on or off logging go to the bottom of file and look for "END OF DO NOT CHANGE".
There you will see information about hot to turn on and off the different logs

START OF DO NOT CHANGE -->
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!-- <add key="log4net.Internal.Debug" value="true"/> -->
  </appSettings>
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="DMCC_log4net.Appender.RollingFileAppender">
      <file value="rolling-log.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="10000" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="DMCC_log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="DMCC_log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <!-- Example using environment variables in params -->
      <!-- <file value="${TMP}\log-file.txt" /> -->
      <appendToFile value="true" />
      <maximumFileSize value="10000" />
      <!-- An alternate output encoding can be specified -->
      <!-- <encoding value="unicodeFFFE" /> -->
      <layout type="DMCC_log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline" />
      </layout>
      <!-- Alternate layout using XML			
			<layout type="DMCC_log4net.Layout.XMLLayout" /> -->
    </appender>
    <appender name="ConsoleAppender" type="DMCC_log4net.Appender.ConsoleAppender">
      <layout type="DMCC_log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline" />
      </layout>
    </appender>
    <appender name="NetSendAppender" type="DMCC_log4net.Appender.NetSendAppender">
      <threshold value="ERROR" />
      <server value="SQUARE" />
      <recipient value="nicko" />
      <layout type="DMCC_log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <!-- Example of how to configure the AdoNetAppender		
		<appender name="AdoNetAppender" type="DMCC_log4net.Appender.AdoNetAppender" >			
			<connectionString value="Driver={Microsoft Access Driver (*.mdb)};DBQ=C:\Work\cvs_root\log4net-1.2\access.mdb;UID=;PWD=;" />
			<layout type="DMCC_log4net.Layout.PatternLayout">				
				<conversionPattern value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message]) VALUES ('%date','%thread','%level','%logger','%message')" />
			</layout>
		</appender> 
		-->
    <!-- 
		<appender name="A" type="DMCC_log4net.Appender.ForwardingAppender" >
			<threshold value="WARN"/>			
			<appender-ref ref="ConsoleAppender" />		
		</appender>
		<appender name="B" type="DMCC_log4net.Appender.ForwardingAppender" >
			<filter type="DMCC_log4net.Filter.LevelRangeFilter">
				<levelMin value="DEBUG"/>
				<levelMax value="INFO"/>
			</filter>
			<appender-ref ref="ConsoleAppender" />
		</appender> 
		-->
    <!-- Example of how to configure the AdoNetAppender to connect to MS Access -->
    <appender name="ADONetAppender_Access" type="DMCC_log4net.Appender.AdoNetAppender">
      <connectionString value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Work\cvs_root\log4net-1.2\access.mdb;User Id=;Password=;" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @message)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="String" />
        <size value="255" />
        <layout type="DMCC_log4net.Layout.PatternLayout"/>
        <conversionPattern value="%date" />

      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="DMCC_log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="DMCC_log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="DMCC_log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="1024" />
        <layout type="DMCC_log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
    </appender>
    <!-- Example of how to configure the AdoNetAppender to connect to MS SQL Server -->
    <appender name="ADONetAppender_SqlServer" type="DMCC_log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=SQLSVR;initial catalog=test_log4net;integrated security=false;persist security info=True;User ID=sa;Password=sa" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @message)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <!-- 
				<layout type="DMCC_log4net.Layout.PatternLayout">
					<conversionPattern value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
				</layout> 
				-->
        <layout type="DMCC_log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="DMCC_log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="DMCC_log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="DMCC_log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="DMCC_log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <!-- <appender-ref ref="ADONetAppender_SqlServer" /> -->
      <!-- <appender-ref ref="NetSendAppender" /> -->
      <!-- <appender-ref ref="A" /> -->
    </root>
    <!-- END OF DO NOT CHANGE -->
    <!-- HERE IS WHERE YOU ADJUST THE LEVELS FOR LOGGING -->
    <!-- Specify the level for some specific categories -->
    <!--- The Avaya.ApplicationEnablement.DMCC.ServiceProvider logger is used for logging error and exceptions which have occured in the DMCC .NET API -->
    <logger name="Avaya.ApplicationEnablement.DMCC.ServiceProvider">
      <!-- <appender-ref ref="B" /> -->
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
    <!--- The XML logger is used for logging all incoming and outgoing XML messages. The level for the XML messages is INFO.
    If you want to log all XML messages going to and from your application change the level from OFF to INFO.
    -->
    <logger name="XML">
      <!-- <appender-ref ref="B" /> -->
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
    <!--- The AUTOMATED TESTER logger is used for logging Automated testing status in the dashboard. -->
    <logger name="AUTOMATED_TESTING">
      <!-- <appender-ref ref="B" /> -->
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>
</configuration>